/* Test 1 */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600;800&family=IBM+Plex+Mono&display=swap');

/* Test 2 */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300&display=swap');

/* Test 3 */

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600;700&family=Raleway:wght@400;600&display=swap');
:root {
    --font-size: 17px;
    --nav-height: 2.25rem;
    --font-title: 700 100% / 1.15 'Crimson Text', serif;
    --font-text: 400 var(--font-size) / 1.65 'Raleway', sans-serif;
    --font-text-bold: 600 var(--font-size) / 1.65 'Raleway', sans-serif;
    --card-shadow: 0 0 3px rgba(0, 0, 0, 0.15), 0 3px 4px rgba(0, 0, 0, 0.125);
    --card-shadow-large: 0 0 3px rgba(0, 0, 0, 0.2), 0 3px 8px rgba(0, 0, 0, 0.2);
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #333;
    font: var(--font-text);
}

html {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;

    max-width: 50rem;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    padding-top: 6.5rem;
    /* padding-bottom: 25vh; */
}

footer {
    min-height: 3rem;
    margin-top: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 85%;
}


/* Typography */
/* 
body {
    text-align: justify;
    text-justify: distribute;
} */

li p {
    margin: 0.35rem 0;
}

p {
    margin-bottom: 1.15rem;
}

ol, ul {
    padding-left: 2rem;
}

/* Major Third: q = 1.250 */

h1,
h2,
h3,
h4,
h5 {
    margin: 2.75rem 0 1.05rem;
    font-weight: 400;
    line-height: 1.15;
    font: var(--font-title);
}

h1 {
    margin: 0;
    font-size: 4.209em;
    line-height: 0.95;
}

h2 {
    font-size: 3.157em;
}

h3 {
    font-size: 2.369em;
}

h4 {
    font-size: 1.777em;
}

h5 {
    font-size: 1.333em;
}

small,
.text_small {
    font-size: 0.75em;
}


/* 
h1, h2, h3, h4, h5 {
    margin: 2.75rem 0 1.05rem;
    font: var(--font-title);
}

h1 {
    margin-top: 0;
    font-size: 4.209em;
}

h2 {
    font-size: 3.157em;
}

h3 {
    font-size: 2.369em;
}

h4 {
    font-size: 1.777em;
}

h5 {
    font-size: 1.333em;
} */

b,
strong {
    font: var(--font-text-bold);
}

code:not(.sourceCode) {
    font: calc(var(--font-size) * 0.85) 'IBM Plex Mono', monospace;
    background: #ededed;
    padding: 1px 2px;
    margin: 0 0px;
    border-radius: 2px;
    color: #111;
}

pre,
pre>code {
    font: calc(var(--font-size) * 0.81) 'IBM Plex Mono', monospace;
}

pre {
    max-width: 100%;
    width: min-content;
    margin: 1em auto;
    overflow-x: auto;
    padding: 7.5px;
    padding-right: 50px;
    border-radius: 4px;
    box-shadow: var(--card-shadow);
    min-width: 60%;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}

figure figcaption p {
    margin: 0;
}

figure img {
    display: block;
    margin: 1rem auto;
    width: 35rem;
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
    border-radius: 6px;
    box-shadow: var(--card-shadow-large);
}

a.tag,
a.tag:visited {
    background: royalblue;
    color: white;
    border-radius: 4px;
    padding: 1px 7px 2px 5px;
    margin: 3px;
    font-weight: bold;
}

a.tag:hover {
    text-decoration: none;
    background: rgb(29, 68, 184);
}

a,
a:visited {
    color: royalblue;
    cursor: pointer;
    text-decoration: none;

    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

a:hover {
    text-decoration: underline;
}

a.external {
    margin-right: -1px;
}

a.external::after {
    content: 'open_in_new';
    display: inline-block;
    height: 1px;
    vertical-align: middle;
    transform: translateY(-17px);
    margin-left: 3px;
    text-align: center;
    font-size: 20px;
    font-family: 'Material Icons';
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}


/* Desktop */

nav .logo {
    --logo-size: 2.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 100ms ease-in-out;
    color: #333;
}

nav .logo:hover {
    color: royalblue !important;
    border-color: royalblue !important;
    text-decoration: none !important;
}

nav .logo svg path {
    transition: all 100ms ease-in-out;
}

nav .logo:hover svg path {
    fill: royalblue !important;
}

#toggle-menu {
    display: none;
}

.nav-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-group .nav-link {
    font-size: 110%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts>* {
    margin-bottom: 1rem;
}


/* Nav on small screens */

@media screen and (max-width: 40rem) {
    body {
        padding-top: 2.5rem;
    }
    .nav-wrapper {
        position: absolute;
    }
    nav {
        --toggle-duration: 0.4s;
        --max-height: 35vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        overflow-y: hidden;
        transition: max-height var(--toggle-duration) ease-out;
        padding: 0.25rem;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        z-index: 1;
        background: white;
        box-shadow: var(--card-shadow);
    }
    nav .logo {
        --logo-size: 2.5rem;
        width: var(--logo-size);
        height: var(--logo-size);
        border: 2px solid #333;
    }
    .nav-group {
        transition: opacity var(--toggle-duration) ease-out;
        margin-bottom: 2rem 0;
        padding-top: 0.25rem;
        flex-direction: column;
        overflow-y: scroll;
        width: 100%;
        display: block;
    }
    label[for=toggle-menu] {
        position: absolute;
        top: 0;
        right: 0;
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        cursor: pointer;
        z-index: 2;
        margin: 0.25rem;
    }
    label[for=toggle-menu] .menu {
        opacity: 1;
        position: absolute;
    }
    label[for=toggle-menu] .close {
        opacity: 0;
        position: absolute;
    }
    /* When openned */
    #toggle-menu:checked+label>.menu {
        opacity: 0;
    }
    #toggle-menu:checked+label>.close {
        opacity: 1;
    }
    #toggle-menu:checked~nav {
        transition: max-height var(--toggle-duration) ease-out;
        max-height: var(--max-height);
    }
    #toggle-menu:checked~nav>.nav-group {
        transition: opacity var(--toggle-duration) ease-in;
        opacity: 1;
    }
    /* When closed */
    #toggle-menu:not(:checked)~nav {
        max-height: 3rem;
    }
    #toggle-menu:not(:checked)~nav>.nav-group {
        opacity: 0;
    }
}


/* Nav on large screens */

@media screen and (min-width: 40rem) {

    body {
        /* text-align: justify;
        text-justify: distribute; */
    }    

    nav {
        transition: all 150ms ease-in-out;
        height: 4rem;
        top: 0;
        max-width: 60rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.75rem;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        z-index: 1;
        background: white;
        box-shadow: var(--card-shadow);
    }
    label[for=toggle-menu] {
        display: none;
    }
    nav .nav-link {
        transition: font-size 150ms ease-in-out;
        padding: 0 1rem;
    }
    nav .logo {
        border: 3px solid #333;
        width: var(--logo-size);
        height: var(--logo-size);
    }
    body.not-on-top nav {
        height: 2.25rem;
        padding: 0.375rem;
    }
    body.not-on-top nav .logo {
        height: 1.5rem;
        width: 1.5rem;
        font-size: 1.5rem;
        border-width: 2px;
        border-color: #000;
    }
    body.not-on-top .nav-link {
        font-size: 15px;
    }
}

@media screen and (max-width: 60rem) {
    nav {
        border-radius: 0;
    }
}


/* Tablet */

@media screen and (min-width: 30rem) and (hover: none) {
     :root {
        --font-size: 15px;
    }
    body {
        width: 80%;
    }
    h1 {
        margin-top: 0;
        font-size: 4.209em;
    }
    h2 {
        font-size: 3.157em;
    }
    h3 {
        font-size: 2.369em;
    }
    h4 {
        font-size: 1.777em;
    }
    h5 {
        font-size: 1.333em;
    }
}


/* Mobile */

@media screen and (max-width: 30rem) {
    /* body {
        max-width: unset;
    } */

    h1 {
        font-size: 3.75rem;
    }

    ol, ul {
        padding-left: 1rem;
    }
}


/* Docs */

.card {
    border-radius: 4px;
    padding: 1rem;
    box-shadow: var(--card-shadow);
}

.card-title {
    font: var(--font-title);
    font-size: 1.333rem;
}


/* Hugo */

ol.list li {
    list-style: none;
}

ol.list h5 {
    margin-bottom: 0;
}

ol.list h5 {
    margin-bottom: 0;
}

main {
    flex-grow: 1;

    margin-top: 2rem;
    padding-top: 1rem;
}

header.post-header {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.post-tags {
    max-width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.post-tags,
.post-date {
    color: #666;
    font-size: 15px;
}

.page-title {
    text-align: center;
}

.pagination {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr auto 1fr;
}

.pagination :first-child {
    text-align: right;
}

.pagination .page-number {
    padding: 0 1rem;
}


/* Pandoc */

p>br:first-child,
p>br:last-child {
    display: none;
}

.center {
    text-align: center;
}