    </main>

    <footer>
        &copy; {{ .Site.Author.name }} 2020

        <a class="button-square" href="{{ .Site.BaseURL }}index.xml"><i class="fa fa-rss"></i></a>

        {{ with .Site.Params.twitter }}
        <a class="button-square button-social hint--top" data-hint="Twitter" title="Twitter" href="{{ . }}" rel="me">
            <i class="fa fa-twitter"></i>
        </a>
        {{ end }}
        {{ with .Site.Params.facebook }}
        <a class="button-square button-social hint--top" data-hint="Facebook" title="Facebook" href="{{ . }}" rel="me">
            <i class="fa fa-facebook"></i>
        </a>
        {{ end }}
        {{ with .Site.Params.gitlab }}
        <a class="button-square button-social hint--top" data-hint="Gitlab" title="Gitlab" href="{{ . }}" rel="me">
            <i class="fa fa-gitlab"></i>
        </a>
        {{ end }}
        {{ with .Site.Params.github }}
        <a class="button-square button-social hint--top" data-hint="Github" title="Github" href="{{ . }}" rel="me">
            <i class="fa fa-github-alt"></i>
        </a>
        {{ end }}
        {{ with .Site.Params.stackoverflow }}
        <a class="button-square button-social hint--top" data-hint="Stack Overflow" title="Stack Overflow" href="{{ . }}"
        rel="me">
            <i class="fa fa-stack-overflow"></i>
        </a>
        {{ end }}
        {{ with .Site.Params.linkedin }}
        <a class="button-square button-social hint--top" data-hint="LinkedIn" title="LinkedIn" href="{{ . }}" rel="me">
            <i class="fa fa-linkedin"></i>
        </a>
        {{ end }}
        {{ with .Site.Params.email }}
        <a class="button-square button-social hint--top" data-hint="Email" title="Email" href="mailto:{{ . }}">
            <i class="fa fa-envelope"></i>
        </a>
        {{ end }}
    </footer>

    <script src="{{ .Site.BaseURL }}js/ux.js"></script>
</body>

</html>