<div class="nav-wrapper">
    <input type="checkbox" id="toggle-menu">
    <label for="toggle-menu">
        <span class="material-icons menu">menu</span>
        <span class="material-icons close">close</span>
    </label>
    <nav>
        <a class="logo" href="/" title="aziis98.com">&Aopf;</a>
        <div class="nav-group">
            {{ range .Site.Menus.main.ByWeight }}
            <a title="{{ .Name }}" href="{{ .URL }}" class="nav-link">
                {{ .Name }}
            </a>
            {{ end }}
        </div>
    </nav>
</div>