{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
<div class="pagination" role="navigation">
    {{ if $pag.HasPrev }}
        <a class="newer-posts" href="{{ $pag.Prev.URL }}">&larr; Articoli più recenti</a>
    {{ else }}
        <div></div>
    {{ end }}
    <span class="page-number">Pagina {{ $pag.PageNumber }} di {{ $pag.TotalPages }}</span>
    {{ if $pag.HasNext }}
        <a class="older-posts" href="{{ $pag.Next.URL }}">Articoli più vecchi &rarr;</a>
    {{ else }}
        <div></div>
    {{ end }}
</div>
{{ end }}