<h1 class="center">aziis98</h1>

<div class="center unipi-only" style="margin-top: 2rem;">
    Vai alla sezione relativa al <a href="page/unipi.html">materiale universitario</a>.
</div>

<h3 class="center">Posts</h3>

<div class="posts">
    {{ range .posts }}
    <div class="card">
        <div class="card-title"><a href="post/{{ .ref }}.html">{{ .title }}</a></div>
        <div>
            {{ .description }}
        </div>
        <span class="post-date">{{ .date }}</span>
    </div>
    {{ end }}
</div>